<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>New Page</title>
</head>
<body>
    <div class="container mt-3">
        <h1>This page links to another page!</h1>
        <a href="/first_app/other_five">This leads to page 5!</a> <br>
        <a href="{% url 'first_app:other_four' %}">This is a link to another page</a>
    </div>
</body>
</html>